body {
    font-weight: 300;
    margin:0% auto
  }
  
  /* HEADER alignment starts here */
  header {
    padding: 20px 0;
    text-align: center;
  }
  
  header .row, footer .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  header h1 {
    font-weight: 800;
    align-items: center;
    margin: 20px;
  }
  
  header a {
    padding: 0 20px;
    margin: 0;
    color: black;
  }

  nav a:hover{
    color: burlywood;
  }

  /* HOVER LOGO to home page here */
  h1 a:hover{
    color: black;
    text-decoration: none;
  }


  nav.col-sm-4{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 20px;
  }

  /* Drop down button starts here */
  .dropbtn {
    background-color: white;
    color: black;
    margin-right: 23px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 110px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover {
    background-color:none;
      color: burlywood;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: burlywood;
      
  }


/* set body and html height to 100% for parallax */
body, html, .jumbotron{
  height: 100%;
  width: 100%;
}

.jumbotron{
  font-family: 'Rowdies';
}

/* general parallax css */
.parallax{
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallaxOneHeader{
  font-family: 'Fira Sans', sans-serif;
  
}

/* individual parallax images */
#parallaxOne{
  background-image: url(../img/parallax-1.webp);
  display: flex;
}

#parallaxTwo{
  background-image: none;
  position: relative;
}

#parallaxThree{
  background-image: url(../img/donation.webp);
}

#parallaxFive{
  background-image: url(../img/parallax-four.webp);
}

@media only screen and (max-width: 1200px){
  #parallaxThree{
    background-image: url(../img/donation.webp);
    background-size: 100% 65%;
  }
  /* Tablets [601px -> 1200px] */
}

    /* FOOTER css and media queries start here */
    footer {
      font-size: 12px;
      padding: 50px 0;
    }
    
    footer .col-sm-8 {
      display: flex;
      justify-content: flex-end;
      
    }
    
    footer ul {
      list-style: none;
    }
  
    @media (min-width: 1000px){
      footer li{
        margin: 5px;
      }
    }
    @media (min-width: 768px){
      footer li{
        margin: 12px;
      }
    }
    @media (min-width: 300px){
      footer li{
        margin: 10px;
        font-size: 12px;
      }
    }
  
    i.fab:hover {
      color: black;
    }
  
    .fa-twitter, .fa-facebook, .fa-instagram, .fa-pinterest {
    background: none;
    color: burlywood;
    font-size: 40px;
    }